.button {
  border: 1px solid #000;
  border-radius: 99px;
  width: 30%;
  padding: 2%;
  background-color: #fff;
  cursor: pointer;
}

.button:disabled {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
  cursor: default;
}

.ok-btn {
  background-color: #50bcff7d !important;
  border: none;
  color: #0000009c;
}